{% extends 'App/layout.html' %}

{% block title %}
  Product List
{% endblock %}

{% block content %}
<a href="{% url "home" %}" class="btn btn-secondary mt-3">Back</a>
  <table class="table text-center mt-4">
    <thead class =" table-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">SKU</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Supplier</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
 <tbody>
    {% if products %}
        {% for product in products %}
        <tr>
            <td>{{ product.product_id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.supplier }}</td>
            <td>
             <a href="{% url "update" product.product_id %}" class="btn btn-warning">Update</a>
             <a href="{% url "delete" product.product_id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" class="text-center text-muted">No products found</td>
        </tr>
    {% endif %}
</tbody>

  </table>
{% endblock %}
